.DS_Store
vendor/
.env

# IDEs
/.idea

# Miscellaneous
.DS_Store
/log
/logs
/ignore

# Ignore "app.yaml" because it's stored as a secret in GCPSM
app.yaml

# DB stuff
/local-db/*
!/local-db/Dockerfile