# Assets
/public/assets/*
/web/assets/*

# IMAGER TRANSFORMS
/public/imager/*
/web/imager/*

# CRAFT STORAGE
/craft/storage/*
/storage/*

# Dependencies
/vendor

# Miscellenious
.DS_Store
/log
/logs/*
/tmp

# Environment config
.env